body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}

p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

.App {
  text-align: center;
  color: white;
}

main {
  height: calc(100vh - 52px);
  margin-bottom: 52px;
  overflow: auto;
}

.home h1 {
  font-family: 'Bungee', cursive;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  line-height: 48px;
  font-size: 48px;
  transform: rotate(-35deg);
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, .55)); */
}

.home h1:first-child {
  position: fixed;
  top: 40px;
  left: 1px;
}

.home h1:nth-child(2) {
  position: fixed;
  top: 67px;
  left: -8px;
}

.hero {
  height: 75vh;
  width: 75vw;
  right: 0;
  top: 0;
  background: url('/images/hero.jpg');
  background-size: cover;
  z-index: -1;
  position: absolute;
}

.hero-overlay {
  height: 100%; 
  width: 100%; 
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); 
}

.blurb {
  position: fixed;
  /* background-color: rgba(0,0,0,.3); */
  text-shadow: 1px 1px 1px black;
  text-align: left;
  top: 50vh;
  left: 0;
  width: 80vw;
  padding: 10px;
  margin: 0;
}

nav {
  position: fixed;
  bottom: 0;
  transition: .25s all;
  border-top: 1px solid white;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100vw;
  padding: 0;
}

nav ul li {
  width: 33%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.popup {
  height: 100px;
  transition: .25s all;
}

.hidden {
  height: 1px;
}

.project-nav {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  min-width: 145px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.project-link-overlay {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: .25s all;
  cursor: pointer;
}

.project-link-overlay:hover {
  opacity: 0;
  transform: translateY(25px);
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h1 {
  font-family: 'Bungee', cursive;
  font-weight: normal;
  align-self: flex-start;
  margin: 10px;
}

.project .info {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  background-color: grey;
}

.project .info-left {
  width: 60%;
}

.project .info-right {
  width: 40%;
}

.project .description,
.project .technologies,
.project .github {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.project .description {
  text-align: justify;
  color: black;
}

.project .technologies p {
  font-size: 13px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  background-color: darkslategrey;
  border-radius: 5px;
}

.project .github {
  justify-content: center;
  padding: 10px;
}

.project .github a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  background-color: white;
  color: darkslategrey;
  border-radius: 5px;
}

.screenshot-display {
  width: 100vw;
  height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.prev-screenshot, 
.next-screenshot {
  display: flex;
  align-items: center; 
  position: absolute;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

.prev-screenshot {
  left: 0;
  justify-content: flex-start;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .85));
}

.next-screenshot {
  right: 0;
  justify-content: flex-end;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .85));
}

.prev-screenshot i,
.next-screenshot i {
  padding: 10px
}

